* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  color: #0078aa;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}
