.portfolio {
  background-color: #15243a;
}

.portfolio .container h1 {
  color: #ff884b;
  padding: 50px;
}

.portfolio-wrapper {
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  column-gap: 20px;
  text-align: center;
  padding-bottom: 100px;
}
.portfolio-box h2 {
  color: #ff884b;
}

.portfolio-box p {
  color: white;
}
.portfolio-image img {
  width: 100%;
}

.portfolio-image {
  width: 70%;
  margin: auto;
}
