.footer {
  background-color: #314158;
}

.footer-wrapper {
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  gap: 20px;
}

.col {
  margin: 15px 0;
  width: 200px;
}
.col h2 {
  color: #ff884b;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.col p {
  color: white;
}

.col a {
  color: #528ee7;
}

.col hr {
  margin: 10px 0;
}

label {
  color: #528ee7;
}

input {
  margin: 10px 0;
  border-radius: 5px;
  padding-left: 10px;
  width: 200px;
  height: 40px;
}

form button {
  padding: 10px;
  background-color: #ff884b;
  border: none;
  border-radius: 5px;
  color: white;
}

.flex {
  align-items: center;
  gap: 20px;
}

.article-img {
  width: 70px;
}

.article-img img {
  width: 100%;
}

.info .fa-solid {
  justify-items: center;
  padding: 0;
  margin: 0;
  color: #528ee7;
  background-color: transparent;
}
.info {
  margin-bottom: 20px;
}
