.testimonial-intro {
  text-align: center;

  padding: 40px;
}

.testimonial-intro h1 {
  /* color: #0078aa; */
  text-transform: uppercase;
  padding-bottom: 20px;
}

.testimonial-intro p {
  margin-bottom: 20px;
}

.testimonial-wrapper {
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.testimonial-box h3 {
  padding-bottom: 8px;
}

hr {
  height: 2px;
  border: none;
  margin-top: 80px;
  background-color: gray;
}

.description {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.avatar-wrapper {
  width: 250px;
  grid-template-columns: repeat(3, 1fr);
  margin: 32px auto;
}

.fa-solid {
  color: white;
}
.avatar-img img {
  width: 100%;
}

.avatar-img {
  margin: 10px auto;
  width: 54px;
}
.slick-prev,
.slick-next {
  color: black;
}
.slick-carousel {
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}
